<meta charset="UTF-8">
<title>LibPlanet Faucet</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
  .h5 {
    color: darkgray;
  }
  .form-control form-control-lg {
    padding: 10px 16px;
    width: 80%;
    height: 42px;
    border: none;
    border-radius: 0.5rem;
  }
</style>