<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h3>About Page</h3>
      <div class="description">This faucet transfers TestToken on Chrono testnets and parent chain. Confirm details
        before submitting.</div>
      <div class="h5">Chrono Network NCG Token</div>
      <div class="mb-3">
        <div class="h5">Wallet Address</div>
        <div class="input-box">
          <input class="form-control form-control-lg" type="text" placeholder="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            aria-label=".form-control-lg example">
          <button type="submit" class="btn btn-primary mb-3">Paste</button>
        </div>

      </div>


    </div>


  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>