<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h3>Home Page</h3>
        <div class="description">
          This faucet transfers TestToken on Chrono testnets and parent chain.
          Confirm details before submitting.
        </div>
        <div class="h5">Chrono Network NCG Token</div>
        <div class="mb-3">
          <div class="h5">Wallet Address</div>
          <div class="input-box">
            <input
              id="txtAddress"
              class="form-control form-control-lg"
              type="text"
              placeholder="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              aria-label=".form-control-lg example"
              required
              pattern="a-zA-Z"
            />
            <button
              id="pasteButton"
              class="btn btn-primary mb-3"
              onclick="paste()"
            >
              Paste
            </button>
            <p id="p1"></p>
          </div>
        </div>
        <button
          id="button"
          type="button"
          class="btn btn-primary mb-3"
          onclick="getCoin()"
        >
          Submit
        </button>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      const validation = /^[a-zA-Z0-9\s]+$/g;
    
      function paste() {
        navigator.clipboard
          .readText()
          .then((e) => (document.getElementById("txtAddress").value = e));
      }

      function getCoin() {
        // Validation
        const x = $("#txtAddress").val();
        if (!x.match(validation)) {
          alert("invalid data");
        } else {
          $.ajax({
            url: "api/address",
            data: { address: $("#txtAddress").val().replace(/ /g,"")},
            method: "POST",
            dataType: "json",
          }).done(function (json) {
            console.log("receive : ", json.data);
            const receiveData = json.data;
            //alert(receiveData)
          });
        }
      }
    </script>
  </body>
</html>
