<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h3>LipPlanet Faucet</h3>

        <div class="input-box">
          <div class="h6">Wallet Address</div>
          <div
            class="input-box-input"
            style="width: 80%; float: left; margin-right: 5px"
          >
            <input
              id="txtAddress"
              type="text"
              class="form-control"
              placeholder="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            />
          </div>
          <div class="input-box-paste" style="float: left; margin-right: 5px">
            <button
              id="pasteButton"
              class="btn btn-primary mb-3"
              onclick="paste()"
            >
              Paste
            </button>
          </div>
          <div class="submit" style="float: left">
            <button
              id="button"
              type="submit"
              class="btn btn-primary mb-3"
              onclick="getCoin()"
            >
              Submit
            </button>
          </div>
        </div>
        <div id="result"></div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      //Submit button
      function getCoin() {
        // Validation
        const validation = /^[a-zA-Z0-9\s]+$/g;
        const x = $("#txtAddress").val();
        if (!x.match(validation)) {
          alert("invalid data");
        } else {
          $.ajax({
            url: "api/getcoin",
            data: { address: $("#txtAddress").val().replace(/ /g, "") },
            method: "POST",
            dataType: "json",
          }).done(function (receiveData) {
            const output = receiveData.data;
            console.log(output)
            $("#result").html(
              `<a href='https://qa-aug-gql.433live.com:8000/tx/${receiveData.data}' target='_blank'>${receiveData.data}</a>`
            );
          });
        }
      }
          
      //Paste button 
      //clipboard.readText() 메서드는 HTTPS 환경에서 사용 가능합니다.
      function paste() {
        navigator.clipboard.readText().then((e) => {
          if (e.substr(0, 2) === "0x") {
            document.getElementById("txtAddress").value = e.substr(2);
          }
          document.getElementById("txtAddress").value = e;
        });
      }
      
    </script>
  </body>
</html>
