<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h3>Home Page</h3>
        <div class="description">
          This faucet transfers TestToken on Chrono testnets and parent chain.
          Confirm details before submitting.
        </div>
        <div class="h5">Chrono Network NCG Token</div>
        <div class="mb-3">
          <div class="h5">Wallet Address</div>
        </div>
        <div class="input-box">
          <div class="input-box-input">
            <input
              id="txtAddress"
              class="form-control form-control-lg"
              type="text"
              placeholder="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            />
          </div>
          <div class="input-box-paste">
            <button
              id="pasteButton"
              class="btn btn-primary mb-3"
              onclick="paste()"
            >
              Paste
            </button>
          </div>
        </div>
        <div class="submit">
          <button
            id="button"
            type="button"
            class="btn btn-primary mb-3"
            onclick="getCoin()"
          >
            Submit
          </button>
        </div>
        <div id="result"></div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      //Paste button
      function paste() {
        navigator.clipboard.readText().then((e) => {
          if (e.substr(0, 2) === "0x") {
            document.getElementById("txtAddress").value = e.substr(2);
          }
          document.getElementById("txtAddress").value = e;
        });
      }

      //Submit button
      function getCoin() {
        // Validation
        const validation = /^[a-zA-Z0-9\s]+$/g;
        const x = $("#txtAddress").val();
        if (!x.match(validation)) {
          alert("invalid data");
        } 
        /*
        else if (x.substr(0, 2) === "0x") {
          alert("지갑 주소 첫번째 문자에는 0x가 없어야 합니다.");
        } 
        */
        else {
          $.ajax({
            url: "api/address",
            data: { address: $("#txtAddress").val().replace(/ /g, "") },
            method: "POST",
            dataType: "json",
          }).done(function (receiveData) {
            $("#result").html(receiveData.data);
          });
        }
      }
    </script>
  </body>
</html>
