<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h3>Home Page</h3>
        <div class="description">
          This faucet transfers TestToken on Chrono testnets and parent chain.
          Confirm details before submitting.
        </div>
        <div class="h5">Chrono Network NCG Token</div>
        <div class="mb-3">
          <div class="h5">Wallet Address</div>
          <div class="input-box">
            <input
              id="textBox"
              class="form-control form-control-lg"
              type="text"
              placeholder="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              aria-label=".form-control-lg example"
            />
            <button id="paste" onclick="paste()">Paste</button>
          </div>
        </div>
        <button
          id="button"
          type="button"
          class="btn btn-primary mb-3"
          onclick="getCoin()"
        >
          Submit
        </button>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      // Send Request Address
      function getCoin() {
        $.ajax({
          url: "api/address",
          data: { address: $("#textBox").val() },
          method: "POST",
          dataType: "json"
        });
      }
      
    </script>
  </body>
</html>
